/*
 *  donutcharts.css
 *  Final Project Minor Programmeren
 *  Steven Kuhnen (10305882)
 *
 *  Stylesheet for the donut chart
 */

.arc path {
    stroke: #583E2E;
    stroke-width: 4;
 }

.arc text {
  font-size: 14px;
  font-weight: bold;
  text-anchor: middle;
}

.legend rect{
    stroke: black;
    stroke-width: 2;
}
