/*
 *    linegraph.css
 *    Final Project Minor Programmeren
 *    Steven Kuhnen (10305882)
 *
 *    Stylesheet for the line graph
 */

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 4px;
}
