body {
    background-color: rgba(171, 166, 191, 0.1);
    color: #583E2E;
}

.jumbotron {
    background-color: rgb(241, 224, 214);
    color: #583E2E;
}

.navbar {
    background-color: #583E2E;
    margin-bottom:0;
  }

  .navbar li a, .navbar .navbar-brand {
    color: #fff !important;
    border: black 1px;
}



.toolTip {
  position: absolute;
  display: none;
  pointer-events: none;
  background: #fff;
  padding: 5px;
  text-align: left;
  border: solid #ccc 1px;
  color: #666;
  font-size: 14px;
  font-family: sans-serif;
  font-weight: bold;
}


blockquote p:before {
    content: open-quote;
    font-weight: bold;
}
blockquote p:after {
    content: close-quote;
    font-weight: bold;
}

.storytime {
    border-collapse: separate;
    border-spacing: 15px;
    color: #583E2E;
    font-size: 16px ;
    margin-left: 15%;
    margin-right: 12%;
    background-color:  rgb(241, 224, 214);
    border-color: #583E2E;
    border-style: solid;
    border-width: 1px 1px 1px 20px;
}
