.water {
  fill: #0077BE;
}

.land {
  stroke:black;
}

.land:hover {
  fill:purple;
}

.focused {
  fill:purple;
}

select {
  position: absolute;
  top: 400px;
  left: 1100px;
  border: solid #ccc 1px;
  padding: 3px;
  box-shadow: inset 1px 1px 2px #ddd8dc;
}

.toolTip {
  position: absolute;
  display: none;
  pointer-events: none;
  background: #fff;
  padding: 5px;
  text-align: left;
  border: solid #ccc 1px;
  color: #666;
  font-size: 14px;
  font-family: sans-serif;
}
