body {
    background-color: rgba(171, 166, 191, 0.1);
    color: #583E2E;
}

.jumbotron {
    background-color: rgb(241, 224, 214);
    color: #583E2E;
}

.toolTip {
  position: absolute;
  display: none;
  pointer-events: none;
  background: #fff;
  padding: 5px;
  text-align: left;
  border: solid #ccc 1px;
  color: #666;
  font-size: 14px;
  font-family: sans-serif;
  font-weight: bold;
}
